@use 'variables' as v; 

* {
    font-family: Helvetica, Arial, sans-serif;
   
  }
  
  body {
    padding: 60px;
    background: v.$gradiante;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  button{
    margin-top: 20px;
  }
