// Fuentes
$fuentePrincipal: 'Lato', sans-serif;
$fuenteCursiva: 'Italianno', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #1B1B1E;
$negro: #000;
$blanco: #FFFFFF;
$gris: #979797;
$grisClaro: #f8f8f8;
$gradiante: radial-gradient(circle, rgba(135,10,122,1) 0%, rgba(5,7,9,1) 100%);